.login{
    position:fixed;
     margin:auto; 
     width: max-content;
     background-color: rgb(242, 247, 250);
    border: ridge 1px rgb(169, 224, 249);
     padding: 10px; 
     top: 30%; 
     left: 30%;
}
.mass{
    position: absolute;
    right: 5%;
    top: 5px;
    background-color: rgb(233, 245, 252);
    border-bottom: solid 1px rgb(156, 156, 244);
    box-shadow: 2px 3px 4px rgba(58, 58, 58, 0.518);
    border-radius: 2px;
}
.text{
    background-color: rgb(233, 245, 252);
    border-bottom: solid 1px rgb(156, 156, 244);
    box-shadow: 2px 3px 4px rgba(58, 58, 58, 0.518);
    border-radius: 2px; 
    width: max-content; 
    
}
.costom{
    background-color: rgb(242, 247, 250);
    border: ridge 1px rgb(169, 224, 249);
    width: max-content;
}
tr,th,td{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}